# ansible.cfg  (root of repo)
[defaults]
inventory         = inventory/
remote_user       = ec2-user
host_key_checking = False
collections_path  = ./collections
vault_password_file = .vault_password

[privilege_escalation]
become            = True
become_method     = sudo
