# ansible.cfg  (root of repo)
[defaults]
inventory         = inventory/
remote_user       = ubuntu
host_key_checking = true
collections_path  = ./collections

[privilege_escalation]
become            = true
become_method     = sudo
